div.hidden {
  display: none;
}

div.active {
  border: 5px solid red;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}

button.active {
  background-color: black;
  color:aliceblue;
}

img#callcoin {
  opacity: 0.5;
}